<a href='/'>Back to Trainers</a>
<a href='/trainers/<%= @trainer.id %>/edit'>Edit This Trainer</a>

<div class="trainer">
  <img src="<%= @trainer.img_url %>">
  <p>Trainer Name: <%= @trainer.name %></p>
  <p>Trainer Level: <%= @trainer.level %></p>
</div>
<% @pokemons.each do |pokemon|%>
  <%if pokemon.trainer_id == @trainer.id%>
    <p class="pokemon">
      <%= pokemon.name %>
      <img src="<%= pokemon.img_url %>">
    </p>
  <% end %>
<% end %>
